* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  color: white;
}

.piros-csik {
  width: 100%;
  height: 93px;
  opacity: 1;
  background-color: #B50014;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}

.szurke-csik {
  display: flex;
  width: 100%;
  align-items: center;
  height: 30px;
  opacity: 1;
  background-color: #252525;
}

.felso-lista {
  display: flex;
  height: 19px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-weight: 700;
  justify-content: right;
  align-items: center;
  font-family: 'Roboto';
  gap: 30px;
  font-size: 16px;
}

.logo {
  width: 177px;
  height: 177px;
  margin-top: 85px;
}

.letoltes {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'Roboto';
  font-size: 16px;
}

.font {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 0%;

}

.also-lista {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'Roboto';
  font-size: 14px;
  justify-content: flex-end;
  width: 100%;
}

.felso-lista,
.also-lista {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.eros {
  font-weight: 400;
}

.szoros-faszi {
  width: 100%;
  max-width: 100vw;
  height: 679px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  background-image: url('/images/faszi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.maszat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: 348px;
  background-color: rgba(0, 0, 0, 0.3);
}

.cim {
  font-family: 'Roboto';
  font-size: 38px;
  font-weight: 700;
  width: 242px;
  height: 90px;
  margin-top: 60px;

}

.cim-tartalom {
  font-family: 'Roboto';
  font-size: 18px;
  width: 275px;
  height: 134px;
  margin-top: 15px;
  margin-left: 30px;
}

.cimtartalom {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
}

.nyilak {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  margin-bottom: -100px;
}

.bal-nyil {
  width: 33px;
  height: 33px;
}

.jobb-nyil {
  width: 33px;
  height: 33px;
}

.feketeseg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 760px;
  background-color: rgba(0, 0, 0, 0.940);
}

.fo-lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 73%;
  height: 100%;
  gap: 30%;
  margin-top: 55px;
}

.elso-lista {
  display: flex;
  flex-direction: column;
  height: 441px;
  width: 220px;
  align-items: flex-start;
  gap: 35px;
}

.lista-cim {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 700;
  font-family: 'Roboto';
}

.elso-lista_cim {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 700;
}

.elso-lista_alcim {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
  margin-top: 5px;
}

.elso-lista_szoveg {
  font-family: 'Roboto';
  font-size: 16px;
  width: 427px;
  height: 220px;
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
}

.gombok {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  gap: 20px;
}

.masodik-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.harmadik-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 642px;
  background-color: #A62120;
  overflow: hidden;
}

.harmadik-header_info {
  position: relative;
  left: 140px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 642px;
  margin-left: 280px;
  font-family: 'Roboto';
  gap: 45px;
}

.guszta-kaja {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 960px;
  height: 642px;
  margin-left: 380px;
}
.fekete-lap_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1186px;
  background-color: rgba(0, 0, 0, 0.940);
}
.fekete-lap_cim {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 700;
  width: 208px;
  height: 26px;

}
.fekete-lap_alcim {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
  width: 421px;
  height: 26px;
  margin-top: 25px;
}
.fekete-lap_szoveg {
  font-family: 'Roboto';
  font-size: 16px;
  width: 652px;
  height: 230px;
  font-weight: 200;
  line-height: 24px;
  margin-top: 65px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fekete-lap_szoveg span {
  display: inline-block;
  margin-top: 20px;
}
.vonalas-logo {
  width: 1100px;
  height: 85px;
  margin-top: 80px;
}
.fekete-lap_kaja-lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 835px;
  height: 262px;
  gap: 20px;
  margin-top: 40px;
}
.piros-gomb3 {
  width: 174px;
  height: 47px;
}
.fuszeres-lap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 705px;
  background-color: #A62120;
  overflow: hidden;
}
.fuszerek {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 960px;
  height: 705px;
}
.fuszeres-lap_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  justify-content: center;
  width: 100%;
  height: 344px;
  margin-right: 400px;
  margin-left: 125px;
}
.fuszeres-info_cim {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 700;
  width: 432px;
  height: 42px;
}
.fuszeres-info_alcim {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
  width: 402px;
  height: 42px;
  margin-top: 8px;
}
.fuszeres-info_szoveg {
  font-family: 'Roboto';
  font-size: 16px;
  width: 431px;
  height: 219px;
  font-weight: 200;
  line-height: 24px;
  margin-top: 35px;
}
.fuszeres-info_szoveg span {
  display: inline-block;
  margin-top: 10px;
}